@font-face {
  font-family: Azonix;
  src: url('assets/fonts/Azonix.otf');
}

@font-face {
  font-family: CreativeThoughts;
  src: url('assets/fonts/CreativeThoughts-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
}

.first-row-display {
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}

.btn-class {
  height: 30px;
  font-size: 15px;
  margin: 5px;
}

.btn-class:hover {
  background-color: #007bff;
  transform: scale(1.02);
  border: none;
  color: #fff;
  transition: 0.5s;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.heart-btn {
  background-color: inherit;
  border: none;
}

.heart-btn:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.display-center {
  text-align: center;
}

.main-header {
  justify-content: space-between;
  font-family: 'Azonix', sans-serif;
}

.nav-links {
  list-style: none;
  gap: 20px;
  padding: 20px 0 40px 0;
  font-size: 22px;
}

.nav-links:hover {
  cursor: pointer;
}

.padding {
  padding: 2% 10% 2% 10%;
}

.main-container {
  padding: 2% 6% 2% 6%;
}

.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.movies-list li {
  border: 1px solid;
  width: 215px;
}

footer {
  font-family: 'CreativeThoughts', sans-serif;
  font-size: 20px;
}
