@font-face {
  font-family: Azonix;
  src: url('assets/fonts/Azonix.otf');
}

@font-face {
  font-family: CreativeThoughts;
  src: url('assets/fonts/CreativeThoughts-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
}

.first-row-display {
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}

.btn-class {
  height: 30px;
  font-size: 15px;
  margin: 5px;
}

.btn-class:hover {
  background-color: #007bff;
  transform: scale(1.02);
  border: none;
  color: #fff;
  transition: 0.5s;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.heart-btn {
  background-color: inherit;
  border: none;
}

.heart-btn:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.display-center {
  text-align: center;
}

.main-header {
  justify-content: space-between;
  font-family: 'Azonix', sans-serif;
}

.nav-links {
  list-style: none;
  gap: 20px;
  padding: 20px 0 40px 0;
  font-size: 22px;
}

.nav-links:hover {
  cursor: pointer;
}

.padding {
  padding: 2% 10% 2% 10%;
}

.main-container {
  padding: 2% 6% 2% 6%;
}

.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.movies-list li {
  border: 1px solid;
  width: 215px;
}

footer {
  font-family: 'CreativeThoughts', sans-serif;
  font-size: 20px;
}

.comments-popup {
  font-family: 'CreativeThoughts', sans-serif;
  position: fixed;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 1px solid;
  z-index: 11;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  height: 90vh;
  overflow-y: scroll;
  padding-bottom: 4rem;
  background-color: #f5f5f5;
  margin-top: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.form-comments {
  width: 25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.comment-input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 60%;
}

.image-container {
  display: flex;
  width: 100%;
}

.movie-image {
  width: 300px;
  height: 250px;
  margin-left: 34rem;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  padding-right: 2rem;
}

.submit-comment {
  background-color: #564caf;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-comment:hover {
  transform: scale(1.2);
}

#close-icon {
  cursor: pointer;
}

.movie-comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-comments li {
  display: flex;
  gap: 1rem;
}

.movie-details {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 30px;
}

.blur {
  filter: blur(4px);
}

.popup-window {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9999;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(5px);
}

.popup {
  display: flex;
  width: 70%;
  align-items: center;
  flex-direction: column;
  background: white;
  margin: 0 auto;
  height: 100%;
  overflow: scroll;
}

img.popup-image {
  margin: 20px 0;
}

.add-reserve {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.closing-icon {
  position: relative;
  top: 30px;
  right: -247px;
  cursor: pointer;
}

.about-img {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
}

.reservation-count {
  margin-top: 24px;
  font-size: 28px;
}
